@import '~antd/dist/antd.css';

.ant-carousel .slick-slide {
  text-align: center;
  height: 160px;
  line-height: 160px;
  background: #364d79;
}

.ant-layout-footer {
  padding: 0rem 2rem;
}

.ant-typography {
  line-height: 2.5rem;
}