@import '~antd/dist/antd.css';

.ant-carousel .slick-slide {
  text-align: center;
  width:100%;
  line-height: 0px;
  background: #364d79;
  align-items: center;
}
.ant-carousel div{
  min-height: 100px;
  max-height: 500px;
}
.ant-carousel div img{
  width:100%;
}

.ant-layout-footer {
  padding: 1rem 2rem;
  position: fixed;
  left:0;
  bottom:0;
  right:0;
  
}

.ant-layout-content {
  -ms-flex: auto;
  flex: auto;
  min-height: 0;
  padding: 10px 0px;
  overflow: hidden;
}

.ant-typography {
  line-height: 2.5rem;
}





